* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: AudiType-Bold;
}

h1 {
  font-size: 4.1rem;
  line-height: 1.1;
}

h2 {
  font-size: 3.1rem; // 50px
}

h3 {
  font-size: 1.88rem; // 30px
}

h4 {
  font-size: 1.25rem; // 20px
  line-height: 1.5;
}

h5 {
  font-size: 0.94rem;
}

p {
  font-family: AudiType-Normal;
  font-size: 0.94rem;
  line-height: 1.25;
}