@mixin centerChildren {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin background {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@mixin verticallyCentered {
  position: absolute;
  top: 50%;
  transform: translateX(-50%);
}